/* general */
h1,h2,h3,h4,h5,h6{font-family: "Roboto", sans-serif;font-weight: 600;}
p,a,span,b,label,td,tr,th{font-family: "Work Sans", sans-serif;} 
body{font-family: "Work Sans", sans-serif; font-size: 16px;}

.hide-this-area{display: none !important;}

.page-header-container{margin: 20px 0 40px;}
.page-header-container h1{margin-bottom: 0;}
.d-flex.btns-align-right{width: 100%; text-align: right; display: inline-block !important;}

.container table.dataTable.table-hover>tbody>tr:hover>*{box-shadow: inset 0 0 0 9999px #000; color: #fff;}
.container table.dataTable>tbody>tr.selected>*{box-shadow: inset 0 0 0 9999px #000;}
.container table.dataTable.table-hover>tbody>tr.selected:hover>*{box-shadow: inset 0 0 0 9999px #111;}
.container .table>:not(caption)>*>*{border-bottom-width:0;}
.container table.dataTable>tbody>tr.odd td{background: #fafafa;}
.container table.dataTable>tbody>tr td{font-size: 0.9rem; line-height: 1.25;}

/* header */
header{display: inline-block; width: 100%; margin-bottom: 20px; background: #fafafa;}
header .container{padding: 10px 0 15px;}
header .logo-container{float: left;}
header .logo-container img{max-width: 150px;}
header nav{float: right;}
header nav .menu-list{margin-bottom: 0;}
header nav .menu-list .menu-item{list-style: none; display: inline-block; padding: 10px 20px 0;}
header nav .menu-list .menu-item a{text-decoration: none; color:#333; transition: 0.5s;}
header nav .menu-list .menu-item a:hover{color:#000;}

/* attribute */
.wpwc-list-container .attribute-check-input, .list-group .form-check-input{font-size: 1.6rem;}
.wpwc-list-container .attribute-check-input{--bs-form-check-bg: var(--bs-body-bg); width: 1em; height: 1em; margin-top: .25em;}
.wpwc-list-container .card{border-width: 0;}
.wpwc-intro-container .card.stats-card{flex-direction: row; align-items: center;}
.wpwc-intro-container .card.stats-card i.fas{margin-right: 10px;}
.wpwc-intro-container .card.stats-card .stats-number{font-size: 1.5rem; font-weight: 600; margin-right: 5px;}
.wpwc-intro-container .card.stats-card .stats-label{font-size: 1.5rem;}
.wpwc-list-container .action-bar{background: #f9f9f9; padding: 40px 25px 25px;}
.wpwc-list-container .action-bar .search-box input{font-size: 1rem; padding-left: 42px;}
.wpwc-list-container .action-bar .search-box .fa-search{position: absolute; font-size: 1.2rem; margin: 10px 0 0 15px; color: #333;}
.wpwc-list-container .accordion-button{background: #fafafa; padding: 20px 40px; border-radius: 0 !important;}
.wpwc-list-container .accordion-button.collapsed{border-bottom: 1px dashed #eee;}
.wpwc-list-container .accordion-button:not(.collapsed){box-shadow: none;}
.wpwc-list-container .accordion-collapse.collapse.show{border-bottom: 1px dashed #eee;}
.wpwc-list-container .list-group.list-group-flush{flex-direction: row; flex-wrap: wrap; background: #fafafa; padding: 10px 20px;}
.wpwc-list-container .term-item{width: 23%; margin: 10px 1%; padding: 20px 15px 15px; border: 1px solid #f3f3f3; border-radius: 3px; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.035); background: #fff;}
.wpwc-list-container .term-item .form-check{padding-left: 3em;}
.wpwc-list-container .term-item .form-check .form-check-label{font-weight: 500; letter-spacing: -0.5px;}
.wpwc-list-container .term-item .form-check .form-check-label small.text-muted{font-size: 0.75rem; margin-top: -4px; color: #bbb ! IMPORTANT; font-weight: 300; letter-spacing: 0.5px;}

/* product */
#productsTable .product-thumb{width: 80px; height: 80px;}
#productsTable_filter{display: inline-block; position: absolute; top: -210px;}
#thumb-col{max-width: 80px !important;}
#status-col{max-width: 50px !important;}
#title-col{min-width: 200px;}

.attribute-cell {position: relative; cursor: pointer; min-height: 40px; padding: 5px !important;}
.attribute-value {padding: 5px; min-height: 30px;}
.attribute-input {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: white; z-index: 10; padding: 0 5px; display: none; }
.attribute-cell.editing .attribute-value {display: none;}
.attribute-cell.editing .attribute-input { display: block;}
.autocomplete-results {position: absolute; top: 100%; left: 0; right: 0; max-height: 200px; overflow-y: auto; background: white; border: 1px solid #ddd; border-top: none; z-index: 100; box-shadow: 0 4px 6px rgba(0,0,0,0.1); display: none;}
.autocomplete-item {padding: 8px 12px; cursor: pointer; border-bottom: 1px solid #eee; transition: background-color 0.2s; color:#000; font-size: 0.75rem;}
.autocomplete-item:hover {background-color: #f0f5ff;}
.autocomplete-item.highlighted {background-color: #f9f9f9; color: #000;}

/* responsive */
@media (min-width: 1400px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 90%;
    }
}